*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#133a94,#919bff);
    height: 100vh;
    ;
}
.container{
    background: #133a94;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
    width: 300px;
    border: solid white;
    text-align: center;
}

.container form{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.campo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}
.campo label{
    width: 60px;
    flex-shrink: 0;

}
.campo input{
    flex: 1;
    border-radius: 5px;
    padding: 8px;
    border: none;
    background: white;
    color: white;
}

.btn button{
    width: 100%;
    background-color: gray;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.campo input ::placeholder{
    color:black
    
}